canvas {
	width: 100%;
	height: 100%;
	background: black ;
}
body,html{
	height: 100%;
	margin: 0;
}
/*	var myCircle = new Path.Circle(new Point(510, 510), 100);
	myCircle.fillColor = 'cyan';

<!--     for(var i = 0 , i <1000 , i+=10){
    var myCircle = new Path.Circle(new Point(510, 510), 100);
	myCircle.fillColor = 'cyan';

} -->*/